@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #fefefe;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

body {
  padding: 2em;
  padding-top: 0px;
  padding-bottom: 0px;
}

.blue {
  background-color: #7fcde5;
}

.grey {
  background-color: #f0f0f0;
  color: #363636;
}

.light-grey {
  background-color: #ffffff;
  color: #363636;
}

.chat-container {
  width: 28em;
  height: 26em;
}

.chatbox {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 16px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.chatbar {
  height: 5em;
  width: 100%;
  padding: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #939393;
  display: flex;
}

.chatbar input[type=text] {
  height: auto;
  font-size: 3vh;
  margin: 0px;
  background: transparent;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

/*.chat-bubble {
  padding: 8px;
  margin: 4px;
  float: left;
  border-radius: 4px;
}*/

.blue.chat-button:hover {
  background-color: red;
}

.blue.chat-button:active {
  background-color: pink;
}

/**************************************/
.bot-bubble-left {
  max-width: 20em;
  padding: 8px;
  margin-right: auto; /*left adjusts bubble*/
  border-radius: 45px 45px 45px 0px;
}

.chat-button {
  cursor: pointer;
  border-radius: 16px;
  padding-left: 4%;
  padding-right: 4%;
}

.orange {
  padding-left: 4%;
  padding-right: 4%;
  border: 3px solid #7fcde5;
  border-radius: 45px 45px 0px 45px;
  background-color: #ffffff;
}

.user-bubble-right {
  max-width: 20em;
  padding: 8px;
  margin-left: auto; /*right adjusts bubble*/
}
