//styling user speech bubble, bot speech bubble, and clickable bot buttons

.button-blue {
  color: #849da3;
  background-color: #b8e2ec;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 22px; /*overwritten by .chat-button's height: 0px, which is necessary to work in moz*/
}

.button-blue:hover {
  background-color: $bot-blue;
  color: $not-black;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  height: 0px;
}

.button-blue:active {
  background-color: $very-light-blue;
  color: $not-black;
  height: 0px;
}

.bot-bubble {
  /*max-width: 23em;*/
  background-color: $bot-blue;
  min-width: 5em;
  padding: 20px 27px 20px 29px;
  margin-right: auto; /*left adjusts bubble*/
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 45px 45px 45px 0px;
}

.bot-buttons {
  width: 11em;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px 10px;
  @include flex-center;
  height: 0px; /*overwrites .button-blue height, necessary to show correctly in moz*/
}

.user-bubble {
  /*padding-left: 30px;
  padding-right: 10px;*/
  border: 3px solid $bot-blue;
  border-radius: 45px 45px 0px 45px;
  background-color: #ffffff;
}

.user-bubble-alignment {
  /*max-width: 23em;*/
  min-width: 5em;
  padding: 20px 25px 20px 29px;
  margin-left: auto; /*right adjusts bubble*/
  margin-top: 10px;
  margin-bottom: 10px;
  /*margin-right: 2%;*/
}

.bubble-breaker {
  /*div wraps user bubble forcing next bubble onto next line*/
  background-color: transparent;
  width: 23em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
