//styling chat container and chatbox

.grey-C {
  background-color: $light-grey;
  color: $not-black;
}
//dark theme colors intended to help people with the most common type color blindness, Deuteranomaly (5 % of men, 0.4 % of women)
.dark {
  background-color: #797979;
  color: #cfcfcf;
}

.light-grey-D {
  background-color: #ffffff;
  color: $not-black;
}

.chat-container-E {
  //increased width from standard 25em to 26em to hide scroll. cross-browser friendly.
  width: 26em;
  height: 100vh;
  bottom: 75px;
  padding-top: 73px;
  vertical-align: bottom;
  border-left: 1px solid #000000;
  //adding the overflows fixes header and chatbar in fixed position
  overflow-y: auto;
  overflow-x: hidden;
}

.chatbox-F {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  font-size: 1em;
  line-height: 1.375em;
  padding: 18px;
  width: 25em;
  height: auto;
  margin-bottom: 75px;
}
