//styling header

.header-L {
  width: 25em;
  height: 3em;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0px 2px 2px rgba(179, 179, 179, 0.46);
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  right: 100px;
  border-left: 1px solid $not-black;
}

button.refresh-M {
  background: transparent;
  outline: 0;
  width: 50px;
  color: $icon-grey;
  padding: 0;
  padding-top: 8px;
  border: none;
  cursor: pointer;
  margin: 15px;
}

button.refresh-M:hover {
  color: $warm-grey;
  outline: 0;
  padding: 0;
  border: none;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition: 0.2s;
}

button.refresh-M:active {
  color: $very-light-blue;
  outline: 0;
  padding: 0;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  transition: 0s;
  transition: 0s;
}

/* Position and sizing of clickable settings button */
.bm-cross-button {
  position: absolute;
  width: 44px !important;
  height: 44px !important;
  right: 111px !important;
  top: 5px !important;
}

.settings-N {
  background: transparent;
  width: 50px;
  color: $icon-grey;
  border: none;
  cursor: pointer;
  margin: 15px;
}

.chat-icon {
  /*speech bubble*/
  position: fixed;
  left: 55em;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

button.close-bot {
  position: relative;
  background: transparent;
  outline: 0;
  right: 7em;
  @include flex-center;
  flex-direction: row;
}

.icon-container {
  width: 25em;
  height: 3em;
  background-color: tomato;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
