//styling header

/*speech bubble in main header opens bot */
.material-icons.md-36 {
  font-size: 36px;
}

.open-bot-icon {
  position: fixed;
  display: -webkit-box;
  cursor: pointer;

  @include sm {
    color: red;
    left: 37em;
    top: 7.9em;
  }
  @include md {
    color: gold;
    left: 39em;
    top: 9.2em;
  }
  @include lg {
    color: gold;
    left: 55em;
    top: 2.8em;
  }
}

//see more in media queries at bottom of file
.text-bot-icon {
  color: purple;
}

/* bot header */
.header-x {
  width: 25em;
  height: 3em;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px rgba(179, 179, 179, 0.7);
  top: 0;
  right: 100px;
  border-left: 1px solid $not-black;
  position: fixed;
  @include flex-center(none, center);
}

/* contains icons in bot header */
.icon-container {
  width: 20em;
  height: 3em;
  @include flex-center(space-between, center);
  padding: .5em;
}

/* close button */
button.close-bot {
  position: relative;
  background: transparent;
  outline: 0;
  padding: 0;
  border: none;
  color: $icon-grey;
  display: flex;
  bottom: .4em;
}

/* refresh button */
button.refresh-bot {
  background: transparent;
  outline: 0;
  padding: 0;
  border: none;
  color: $icon-grey;
  display: flex;
}

button.refresh-bot:hover,
button.close-bot:hover {
  color: $warm-grey;
  outline: 0;
  padding: 0;
  border: none;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition: 0.2s;
}

button.refresh-bot:active {
  color: $very-light-blue;
  outline: 0;
  padding: 0;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  transition: 0s;
  transition: 0s;
}

/* this is actually the settings icon (bm-cross-button is default name from package) */
/* Position and sizing of clickable settings button */
.bm-cross-button {
  position: absolute;
  width: 44px !important;
  height: 44px !important;
  right: 111px !important;
  top: 5px !important;
  background: transparent;
}

//********************************** MEDIA QUERIES **********************************//

// @media (max-width: 544px) {
//   .open-bot-icon {
//     color: green;
//   }
// }
@media (max-width: 544px) and (min-width: 200px) {
  .open-bot-icon {
    display: none;
  }
}
@media (max-width: 544px) and (min-width: 200px) {
  .text-bot-icon {
    color: purple;
  }
}

@media (max-width: 2000px) and (min-width: 545px) {
  .text-bot-icon {
    display: none;
  }
}
