//styling how bot opens after clicking chat icon
#bot {
  /*transform: translateX(100px);*/
  transition: transform 400ms ease-in;
}

#bot.slideIn {
  transform: translateX(0);
}

#bot.slideOut {
  transform: translateX(100%);
}

#root {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0px;
}
//wrapper completely hides bot until chat icon is clicked
#wrapper {
  position: fixed;
  right: 0;
  width: 25em;
  height: 100%;
}

div.hide-speech-bubble {
  display: none;
}
