//styling for theme changer test

// .test-button {
//   display: block;
//   height: 100px;
//   width: 100px;
//   border: 1px solid #aaa;
//   border-radius: 25px;
//   font: bold 20px Helvetica, Arial, sans-serif;
//   text-align: center;
//   line-height: 100px;
//   cursor: pointer;
//   color: #fff;
//   background-color: #000;
// }
// .test-button.on {
//   background-color: #ad310b;
//   -webkit-transition: background-color 1000ms linear;
//   -ms-transition: background-color 1000ms linear;
//   transition: background-color 1000ms linear;
// }

.test-button2 {
  display: block;
  height: 100px;
  width: 100px;
  border-left: 10px solid transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}

.test-button2.on {
  display: block;
  height: 100px;
  width: 100px;
  border-right: 10px solid #00add8;
  cursor: pointer;
  background-color: #4d4d50;
  display: flex;
  align-items: center;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
