// Fonts
$font-family-serif: "Judson", serif;
$font-family-sans-serif: "Source Sans Pro", sans-serif;

// Primary paletter
$dark-grey-primary: #333333; // Main dark color
$blue-accent-primary: #4d9de0; // Blue highlight color
$light-grey-primary: #f5f5f5; // Light grey box background color

// Secondary palette
$light-grey-secondary: #dddddd;
$black: #000000;
$white: #ffffff;

// Tertiary palette
$success: #0E9EA4; // btn-success
$warning: #ECBF27; // btn-warning
$danger: #D34049; // btn-danger

// Button states
$btn-success-active: #048282;
$btn-warning-active: #ab2534;
$btn-danger-active: #c4952d;
$btn-default-active: #3286bd;

$btn-success-disabled: #86cbce;
$btn-warning-disabled: #f2d897;
$btn-danger-disabled: #eb8c96;
$btn-default-disabled: #a3c7e2;

// Light background colors
$blue-background: #a2c6e1;
$yellow-background: #f1d796;
$grey-background: #f5f5f5;
$white-background: #ffffff;

// azure blue
$blue-azure: #00A7E4;

// Box Dimensions & Footer corrections
$box-height: 225px;
$box-img-height: 160px;
$box-img-width: 180px;
$footer-push-height: 20rem; // Footer and Page-footer-push must be same height;
$footer-push-height-mobile: 40rem; // Footer and Page-footer-push must be same height;
$footer-push-height-negative: -20rem;


html {
  font-size: 10px;
  height: 100%;

  @include lg {
    font-size: 12px;
  }

  @include xl {
    font-size: 14px;
  }
}

body {
  color: $black;
  font-family: $font-family-sans-serif;
}

.App {
  min-height: 100vh;

  font-size: 1.5rem;
  padding: 2rem;

  @include md {
    padding: 3rem;
  }

  // @include lg {
  //   padding: 4rem;
  // }
  .App-footer-push {
    height: $footer-push-height;
  }
}

a {
  color: #999999;
}

a:hover {
  color: $black;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: $font-family-serif;
  margin: 2rem 0;
}

h1 {
  font-size: 4rem;
  font-color: $black;
  margin: 1rem 0 2rem 0;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

button {
  background: $blue-accent-primary;
  border: none;
  color: $white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.7rem 2rem;
}

button:disabled {
  opacity: 0.3;
}

button:hover {
  background: $black;
}

hr {
  border: 0;
  border-top: 1px solid $dark-grey-primary;
  margin: 1rem 0;
}

.hidden {
  display: none;
}
// ==========================
// ==== nav and searchbar ===
// ==========================
// this masks the top of the screen with a white bar
.App-mask {
  display: none;
  position: relative;

  @include lg {
    background-color: $white;
    display: block; //display: block; to have fixed on top of screen
    position: fixed;
    margin: -4rem;
    height: 11.5rem;
    width: 100%; //vs 90%
    z-index: 100;
  }
}

.Search {
  align-items: right;
  background-color: $white;
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  // width: 75%;
  position: relative; 
  z-index: 1;
  @include xs {
    top: 1rem;
  }
  @include md {
    margin-left: 1rem; 
    margin-top: 1rem;
    z-index: 100;
    top: 3rem;
    // width: 100%;
  }
  @include lg {
    margin-left: 20rem;
    position: fixed; // to have search bar fixed on top
  }
  margin-top: 2rem;
  margin-left: 2rem;
  
}

.Search-bar {
  height: 3.3rem;
  margin-right: 2rem;
  padding-top: 0;
  //width: 8rem;
  @include xs {
    width: 10rem;
  }
  @include md {
    width: 30rem;
  }
}

.Search-button {
  background: $blue-accent-primary;
  border: none;
  color: $white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.7rem 2rem;
}

.Search-button:disabled {
  opacity: 0.3;
}

.Search-button:hover {
  background: $black;
}

// Language select
.Languages {
  display: inline-block;
  position: absolute;
  right: 2rem;
  top: 1rem;

  z-index: 1;
  @include lg {
    z-index: 100;
    position: fixed;
    top: 3rem;
    right: 4rem;
  }
  @include xxs {
    top: 5rem;
  }
  @include xs {
    top: 6rem;
  }
  @include md {
    top: 3rem;
  }
  
  .Languages-btns {
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: white;
    background-image: none;
  }
  
  .Language-select {
    position: relative;
    display: block;
    width: 7rem;
    height: 2.5em;
    background: white;
    overflow: hidden;
    border-radius: .25em;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
    @include sm {
      width: 10rem;
    }
  }
  
  .Languages-btns {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    padding: 0 0 0 .5em;
    color: black;
    cursor: pointer;
  }
}


.Page {
  margin: 4rem 0rem;
  max-width: 95rem;
  @include sm {
    margin: 4rem 2rem;
  }
  @include lg {
    margin: 8rem 10rem 0 20rem;
  }
}

// ==============
// ==== Menu ====
// ==============
.Menu {
  // align-items: center;
  // display: -webkit-box;
  //   display: -ms-flexbox;
  //   display: flex;

  z-index: 100;

  margin-top: -3rem;
  margin-left: 2rem;
  padding-bottom: 2rem;

  @include md {
    margin-top: -4rem;

  }
  @include lg {
    position: fixed;
    height: 100vh;
    padding-bottom: 0;
    // display: inline-block;
    width: 18rem;
    margin-top: 2rem;
  }
}

.Menu-logo {
  position: relative;
  top: 3.5rem;
  left: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 13rem;
  .Menu-logo-img {
    display: none;
  }

  @include md {
    margin-left: 1.5rem;
  }

  @include lg {
    margin-left: 0;
    left: 0;
    padding: 3.25rem 0 4rem 4rem;
    position: fixed;
    top: 0;
    width: 19rem;

    .Menu-logo-img-sm {
      display: none;
    }
    .Menu-logo-img {
      display: block;
    }
  }
}

.Menu-logo:hover {
  -webkit-font-smoothing: antialiased;
}

.Menu-links {
  display:none;
  @include lg {
    display: block;
    position: fixed; //mine
    padding: 8rem 0 4rem 0; //mine
  }
}

.Menu-link {
  font-family: $font-family-sans-serif;
  line-height: 3rem;
  margin-left: 1.5rem;
  text-decoration: none;

  // @include md {
  //   margin-left: 3rem;
  // }

  @include lg {
    display: block;
    margin-left: 0;
  }
}

.Menu-link--active {
  color: $black;
}

// =========================
// hamburger menu for mobile
// =========================
.Menu-burger {
  @include lg {
    display: none;
  }
  display: block;
  position: absolute;
  top: 3rem;
  left: 4rem;
  
  z-index: 100;
  
  -webkit-user-select: none;
  user-select: none;
  .Menu-burger-checkbox {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      
      cursor: pointer;
      
      opacity: 0; /* hide this */
      border: none;
      z-index: 3; /* and place it over the hamburger */
      
      -webkit-touch-callout: none;
  }
  .Menu-burger-checkbox:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: $white;
  }
  .Menu-burger-checkbox:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
  }
   .Menu-burger-checkbox:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
      p {
        opacity: 0;
      }
  }



  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    
    background: $dark-grey-primary;
    border-radius: 3px;
    
    z-index: 2;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    p {
      font-size: 1.3rem;
      color: $dark-grey-primary;
      padding-top: 1rem;
      font-weight: 600;
      z-index: -1;
    }
  }
  span:first-child {
    transform-origin: 0% 0%;
  }
  span:nth-last-child(2), p {
    transform-origin: 0% 100%;
  }
  // display: block;
  // position: relative;  
}

.Menu-links-burger {
  display: block;
  position: absolute;
  width: 120vw; // 350px
  height: 120vh; // 100vh
  margin: -100px 0 0 -50px;
  padding: 12rem 0 5rem 5rem;
  // padding-top: 125px;
  
  background: $dark-grey-primary;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  a {
    color: $white;
  }
  a:hover {
    color: $blue-accent-primary;
  }
  z-index: 1;
}

.Menu-link-burger {
  display: block;
  padding: 10px 0;
  font-size: 22px;
}

.Menu-burger {
  input:checked ~ .Menu-links-burger {
    transform: none;
  }
}

// ==========================
// ====== box stylings ======
// ==========================
.Blue-background {
  background-color: $blue-background;
}

.Yellow-background {
  background-color: $yellow-background;
}

.Grey-background {
  background-color: $grey-background;
}

.White-background {
  background-color: $white-background;
}

.Blue-border {
  border-top: 5px solid $black;
}

.Blue-border:hover {
  border-top: 5px solid $blue-accent-primary;
}

.Box-container {
  padding: 1rem;
}

.Square-box-container {
  -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  width: 100%;

  @include sm {
    width: 50%;
  }
  @include md {
    width: 33%;
  }
  padding: 1rem;
}

.Box {
  h2,
  h3 {
    margin: 0;
  }
  // display: inline-block;
  // position: relative;
  // margin: 1rem 0 1rem 0;

  //z-index: 1;
  p.p2 {
    margin-left: 1.1rem;
  }
  p {
    display: inline;
  }
  a {
    color: $black;
  }
  a:hover {
    color: $light-grey-secondary;
  }
  // height: $box-height;
  // overflow: auto; 
  //fine except for portal boxes.
}

.Square-box {

  h3 {
    padding-top: 2rem;
  }
  // padding: 0;
  text-align: center;
  width: 100%;

  position: relative;

  // @include sm {
  //   width: 50%;
  // }

  // @include md {
  //   width: 33%;
  // }
}

.Square-box-static {
  color: $black;
  border-top: 2px solid $blue-accent-primary;
  background-size: 200% 200%;
  background-position: 0 100%;
  background-image: linear-gradient(to bottom, $blue-accent-primary 51%, $grey-background 50%);
  -webkit-transition: background-position 300ms, color 300ms ease;
  -moz-transition: background-position 300ms, color 300ms ease;
  -ms-transition: background-position 300ms, color 300ms ease;
  -o-transition: background-position 300ms, color 300ms ease;
  transition: background-position 300ms, color 300ms ease;

  .Square-box-static-links {
    display: none;
  }
}

.Square-box-static:hover {
  background-image: linear-gradient(to bottom, $blue-accent-primary 50%, $grey-background 50%);
  background-position: 0 0;
  -webkit-transition: background-position 300ms, color 300ms ease;
  -moz-transition: background-position 300ms, color 300ms ease;
  -ms-transition: background-position 300ms, color 300ms ease;
  -o-transition: background-position 300ms, color 300ms ease;
  transition: background-position 300ms, color 300ms ease;
  .Square-box-static-main {

  }
  .Square-box-static-links {
    // display: block;
  }
}

.Square-box-static-main {
  img {
    height: $box-img-height;
    // width: $box-img-width;
  }
}

.Square-box:after {
  @include sm {
  }
}

.AccordionBoxContainer {
  
}

.Banner-box {
  background-color: $yellow-background;
  width: 97%;
  padding: 2rem;
  position: relative;
  height: 180px;
}

.Banner-box-btn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.Banner-box-hr {
  width: 80%;
}

.Banner-box-p {
  box-sizing: border-box;
  // margin-right: 12rem;
  @include md {
    margin-right: 8rem;
  }
}

.Info-box {
  background-color: $grey-background;

  // display: inline-block;
  position: relative;
  // margin: 1rem 0 1rem 0;
  margin: 1rem;

  // display: block;
  width: 100%;
 
  // flex makes info-box stretch to fit grid-pad width
  -webkit-box-flex: 1; 
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;

  // @include md {
  //   width: 66%;
  // }

  padding: 2rem;
  a {
    text-decoration: underline;
  }
  a:hover {
    color: $blue-accent-primary;
  }
}

.Info-box-btn {
  display: none;
  @include sm {
    position: absolute;
    bottom: 1.5rem;
    left: 75%;
  }
}

.Text-icon-box {
  width: 66%;
  overflow: none;
  .text-icon-box-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  img {
    width: 400px;

  }
  padding: 2rem;
}

.medium-box {
  width: 100%;
  // margin-right: 3%;
  margin: 1rem;
  @include sm {
    width: 63%;
  }
  // @include md { //added later
  //   width: 33%;
  // }

}

.small-box {
  width: 100%;
  // margin-right: 3%;
  @include sm {
    width: 30%;
  }
  // @include sm {
  //   width: 50%;
  // }
}

.xs-box {
  width: 100%;
  // margin-right: 3%;
  @include sm {
    width: 20%;
  }
  // @include sm {
  //   width: 50%;
  // }
}

.large-box {
  width: 100%;
  @include sm {
    width: 75%;
  }
}

.xl-box {
  width: 100%;
}
// ==========================
// ========= FOOTER =========
// ==========================
.Footer {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: $dark-grey-primary;
  width: 100%;
  height: $footer-push-height-mobile;
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex; // somehow display:flex removes p margin whitespace at bottom
  color: $white;

  z-index: -100;

  // margin-top: 5rem;
  a {
    color: $white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  @include sm {
    height: $footer-push-height;
  }
}

.Footer-div {
  margin: 1rem 4rem 2rem 4rem;
}

// ==========================
// ==== default stylings ====
// ==========================

// .Example {
//   background: #f6f8fa;
//   border-radius: 0.4rem;
//   padding: 2rem;
// }

// .Example .Icon {
//   margin-right: 10px;
// }

// .BackgroundImgExample {
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 16rem;
//   max-width: 25rem;
// }

// .ImgExample {
//   max-width: 25rem;
// }

// ==========================
// ====== GRID ==============
// ==========================
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  // -webkit-box-pack: justify;
  //     -ms-flex-pack: justify;
  //         justify-content: space-between;
  
  // background: white;
  // margin: 0 0 20px 0;
}

// .grid:after {
  /* Or @extend clearfix */
  // content: "";
  // display: table;
  // clear: both;
// }

// [class*='col-'] {
//   float: left;
//   padding-right: 20px;
// }
// .grid [class*='col-']:last-of-type {
//   padding-right: 0;
// }

// .col-2-3 {
//   width: 66.66%;
// }

// .col-1-3 {
//   width: 33.33%;
// }

// .col-1-2 {
//   width: 50%;
// }

// .col-1-4 {
//   width: 25%;
// }

// .col-1-8 {
//   width: 12.5%;
// }

// .module {
//   padding: 2rem;
// }

// .grid-pad {
//   padding: 20px 0 20px 20px;
// }
// .grid-pad [class*='col-']:last-of-type {
//   padding-right: 20px;
// }

/////////////

