/*body {
  background-color: red;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: flex-end;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
/*********************************** above is css reset ***********************************/
//@import 'base/reset.scss';

.the-bot {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 1003;
}

.position-bot {
  /*show bot*/
  position: absolute;
  right: 0px;
  top: 0px;
}

// .slide-left {
//   height: 100px;
//   -webkit-transition: height .3s ease;
// }

.position-bot1 {
  /*hide bot*/
  left: 30em;
  top: 0px;
}

/*********************************** below elements work with api.ai responses. make sure doesnt effect rest of app ***********************************/

.stress {
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}

//a format is needed to style links from api.ai responses
// a {
//   color: #ffffff; /*this is to show links white that are added from api.ai*/
// }

/*********************************** bot bubble/button colors ***********************************/

.blue-A {
  background-color: $bot-blue;
}

.button-blue-B {
  color: #849da3;
  background-color: #b8e2ec;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 22px; /*overwritten by .chat-button's height: 0px, which is necessary to work in moz*/
}

.button-blue-B:hover {
  background-color: $bot-blue;
  color: $not-black;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  height: 0px;
}

.button-blue-B:active {
  background-color: $very-light-blue;
  color: $not-black;
  height: 0px;
}

/*********************************** component styling ***********************************/

.grey-C {
  background-color: $light-grey;
  color: $not-black;
}

.light-grey-D {
  background-color: #ffffff;
  color: $not-black;
}

.chat-container-E {
  width: 25em;
  height: 100vh;
  bottom: 75px;
  padding-top: 73px;
  display: table-cell;
  vertical-align: bottom;
}

.chatbox-F {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  line-height: 1.375em;
  padding: 16px;
  width: 25em;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
  height: auto;
  margin-bottom: 75px;
}

.chatbar-G {
  height: 5em;
  width: 25em;
  padding: 16px;
  padding-left: 8px;
  padding-right: 10px;
  border-top: 1px solid #939393;
  color: $not-black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  right: 100px;
}

.chatbar-G input[type=text] {
  height: auto;
  width: 17em;
  font-size: 1em;
  margin: 0px;
  background: transparent;
  border: none;
  font-family: $bot-font;
  font-weight: lighter;
  margin-left: 15px;
}

/*********************************** bot bubble positioning and user bubbles ***********************************/
.bot-bubble-left {
  /*max-width: 23em;*/
  min-width: 5em;
  padding: 20px 27px 20px 29px;
  margin-right: auto; /*left adjusts bubble*/
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 45px 45px 45px 0px;
}

.chat-button-H {
  width: 11em;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 0px; /*overwrites .button-blue height, necessary to show correctly in moz*/
}

.user-J {
  /*padding-left: 30px;
  padding-right: 10px;*/
  border: 3px solid $bot-blue;
  border-radius: 45px 45px 0px 45px;
  background-color: #ffffff;
}

.user-bubble-right {
  /*max-width: 23em;*/
  min-width: 5em;
  padding: 20px 25px 20px 29px;
  margin-left: auto; /*right adjusts bubble*/
  margin-top: 10px;
  margin-bottom: 10px;
  /*margin-right: 2%;*/
}

.bubble-breaker {
  /*div wraps user bubble forcing next bubble onto next line*/
  background-color: transparent;
  width: 23em;
  display: flex;
}

.bubble-breaker {
  /*div wraps user bubble forcing next bubble onto next line*/
  background-color: transparent;
  width: 23em;
  display: flex;
}

/*********************************** icon styling ***********************************/

.circle-K {
  background-color: #115077;
  color: #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border: none;
  padding-left: 3px;
  cursor: pointer;
}

.circle-K:hover {
  background-color: #316a92;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.mic {
  background-color: transparent;
  color: $warm-grey;
  border: none;
  cursor: pointer;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  transition: 0.1s;
}

.mic:hover {
  color: #5392be;
  border: none;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition: 0.2s;
}

.mic:active {
  color: red;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  transition: 0s;
  transition: 0s;
}

/*********************************** header ***********************************/

.header-L {
  width: 25em;
  height: 73px;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0px 2px 2px rgba(179, 179, 179, 0.46);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  right: 100px;
}

.refresh-M {
  background: transparent;
  width: 50px;
  color: $icon-grey;
  border: none;
  cursor: pointer;
  margin: 15px;
}

.refresh-M:hover {
  color: $warm-grey;
  border: none;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition: 0.2s;
}

.refresh-M:active {
  color: $very-light-blue;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  transition: 0s;
  transition: 0s;
}

.settings-N {
  background: transparent;
  width: 50px;
  color: $icon-grey;
  border: none;
  cursor: pointer;
  margin: 15px;
}

/*********************************** react-burger-menu css ***********************************/
/* Position and sizing of burger button */
.bm-burger-button {
  /*position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;*/
  display: none;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  position: absolute;
  width: 44px !important;
  height: 44px !important;
  right: 121px !important;
  top: 13px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: transparent;
}

/* General sidebar styles */
.bm-menu {
  background: $not-black;
  padding-top: 70px;
  padding-left: 22px;
  padding-right: 0px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.icon-size-O {
  height: 44px;
  width: 44px;
  margin-top: 25px;
  margin-bottom: 25px;
  cursor: pointer;
}

#outer-container {
  overflow-y: visible !important;
}

/*********************************** Header Chat Button ***********************************/

.chat-icon {
  /*speech bubble*/
  position: fixed;
  left: 53em;
  display: flex;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

/*********************************** Modals ***********************************/

/****************** Modal popup image ****************/
#myImg {
  border-radius: 10px;
  border: 2px solid $bot-blue;
  cursor: pointer;
  transition: 0.3s;
  width: 200px;
  height: 150px;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal-P {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content-Q {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 20px 0;
  height: 100px;
}

/* Add Animation */
.modal-content-Q,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close-R {
  position: absolute;
  top: 15px;
  right: 35px;
  color: $light-grey;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-R:hover,
.close-R:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/************** map ******************/
.map-S {
  height: 200px;
  width: 100%;
}

/*********************************** language icon modal ***********************************/
.lang-modal {
  display: none;
  position: fixed;
  z-index: 2;
  right: 100px;
  top: 73px;
  width: 25em;
  height: 100%;
  overflow: hidden;
  background-color: rgba(50, 64, 70, 0.9);
  font-family: Helvetica Neue, Verdana, sans-serif;
  cursor: default;
}

.lang-title {
  color: $light-grey;
  font-size: 2.6em;
  text-align: center;
  position: relative;
  top: 105px;
}

.lang-container {
  width: 200px;
  position: relative;
  top: 175px;
  left: 125px;
  font-size: 1.6em;
  color: rgba(241, 241, 241, .5);
}
/*.language {
  color: $light-grey;
  font-size: 20px;
  padding-top: 34px;
  padding-bottom: 34px;
}*/

form {
  /*wraps clickable area to only be as wide as radio button + text*/
  display: flex;
  flex-wrap: wrap;
}

label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

label:hover {
  color: rgba(255, 255, 255, 1);
  font-size: 1.1em;
  transition: all .2s ease-in-out;
}

.radio-style {
  margin-right: 25px; /*positions radio*/
  margin-top: 4px;
}

.radio-T {
  margin: 25px 0; /*space between language options*/
}

/*********************************** table for agents of service / associations***********************************/
table {
  width: 95%;
  border-spacing: 10px;
  border: 1px solid grey;
  -moz-border-radius: 10x;
  -webkit-border-radius: 10px;
  cursor: pointer;
}
table:hover {
  width: 95%;
  border-spacing: 10px;
  border: 1px solid grey;
  -moz-border-radius: 10x;
  -webkit-border-radius: 10px;
  opacity: 70%;
}
table,
th,
td {
  /*border: 1px solid black;*/
  /* border-collapse: collapse; */
}
th,
td {
  padding: 0px;
  text-align: left;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
  background-color: #fff;
}
table th {
  background-color: black;
  color: white;
}

#bot {
  transform: translateX(100px);
  transition: transform 400ms ease-in;
}

#bot.slideIn {
  transform: translateX(48px);
}

#bot.slideOut {
  transform: translateX(-100%);
}

#root {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0px;
}

#wrapper {
  width: 100%;
  height: 100%;
}
