$breakpoint-xxs: 320px !default; //***uses MAX-width ***//
$breakpoint-xs: 375px !default;
$breakpoint-sm: 500px !default;
$breakpoint-md: 769px !default;
$breakpoint-lg: 1025px !default;
$breakpoint-xl: 2000px !default;

@mixin mobile() {
  @media only screen and (max-width: 600px) {
    @content;
  }
}
@mixin xxs() {
  //****note xxs uses MAX-width. iphone5 ****//
  @media (max-width: $breakpoint-xxs) {
    @content;
  }
}

@mixin xs() {
  @media (min-width: $breakpoint-xs) {
    @content;
  }
}

@mixin sm() {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md() {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg() {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl() {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}
