// checklist
.hideText {
	display: none;
}

// ===================================
// ====== Checklist Title Text =======
// ===================================
.checklist-title {
	display: flex;
	text-align: center;
	align-items: space-between;
	h1 {
		margin-left: 2rem;
		margin-right: 2rem;
	}
}


.title-line {
	border: 3px solid $dark-grey-primary;
	width: 50%;
	margin-top: 4rem;
}

.checklist {
	padding: 0;
	@include sm {
		padding: 1rem 4rem;
	}
}

// ===================================
// ======= Footer/Link divs ==========
// ===================================
.checklist-navbar {
	display: flex;
	justify-content: space-around;
	margin-bottom: 2rem;
}

.caption {
	margin: 10px 0;
}

.tab-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	        align-items: center;

	font-family: $font-family-serif;
	text-align: center;
}

.icn-tab {
	font-size: 4rem;
}

.icn-number {
	width: 65px;
	height: 60px;
	padding: 0 0 60px;
	border: 3px solid $blue-accent-primary;
	border-radius: 50%;
	background-color: $blue-accent-primary;
	color: $white;
	text-align: center;
	align-self: flex-start;
	@include sm {
		width: 75px;
		height: 65px;
		padding: 0 0 70px;
	}

	
		// &:link {
		// 	border: 3px solid $light-grey-secondary;
		// }
		// &:visited {
		// 	border: 3px solid $light-grey-secondary;
		// }
		// &:active {
		// 	border: 3px solid $light-grey-secondary;
		// }
	}

.checklist-navbar a {
	&:link {
		.tab-group {
			color: $dark-grey-primary;
		}
		.icn-number {
			border: 3px solid $dark-grey-primary;
			border-radius: 50%;
			background-color: $white;
			color: $dark-grey-primary;
		}
	}
	&:visited {
		.icn-number {
			border: 3px solid $light-grey-secondary;
			border-radius: 50%;
		}
	}
	&:hover {
		.tab-group {
			color: $black;
		}
		.icn-number {
			border: 3px solid $black;
			border-radius: 50%;
			background-color: $black;
			color: $white;
		}
	}
	&:active {
		.icn-number {
			border: 3px solid $dark-grey-primary;
			border-radius: 50%;
		}
	}
}




// ===================================
// Checklist List Container and Items
// ===================================
ul.checklist-list-container {
	padding: 0; 
}

.list-item-container {
	display: flex;
	width: 100%;
	border: 1px solid $light-grey-primary;
	position: relative;
	.fa {
		font-size: 2.2rem;
	}
}

.list-item-checkbox {
	padding: 0.4rem 0.7rem;
	position: absolute;
	border: 1px solid $light-grey-primary;
}

.list-item-checkbox:hover {
	cursor: pointer;
}

.list-item {
}

.list-item:hover {
	cursor: pointer;
}

.list-item-title {
	margin: 0.3rem 0 0.3rem 4rem;
	@include sm {
		font-family: $font-family-serif;
		margin: 0.3rem 0 0.3rem 6rem;
		font-size: 1.7rem;
	}
}

.list-item-chevron {
	display: none;
	@include sm {
		position: absolute;
		right: 2rem;
		top: 0.6rem;
	}
}
.list-item-chevron:hover {
	cursor: pointer;
}

.list-item-text {
	margin-left: 4rem;
	margin-right: 2rem;
	@include sm {
		margin-left: 6rem;
		margin-right: 4rem;
	}
}

// Save button
.btn-checklist-save {
	position: relative;
	top: 20px;
}

