$font-family-serif: "Judson", serif;
$font-family-sans-serif: "Source Sans Pro", sans-serif;

$grey-border: #eee;
$grey-text: #aaa;
$black: #000;
$white: #fff;
$blue-button: #316a92;
$blue-button-pressed: #115077;
$blue-accent: #5392be;
$yellow-highlight: #f9d04e;
$grey-background: #f5f5f5;
$red: #C62C2C;
$blue-azure: #00A7E4;

// Login Page
.Login,
.Register {
  input {
    margin-bottom: 1.5rem;
    width: 50%;
  }
}

.form-group {
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }

.form-input {
	height: 3.3rem;
	margin-right: 2rem;
	padding-top: 0;
	width: 18rem;
}

.local-auth-button {
	margin-bottom: 1rem
}

.forgot-password {
	color: $black;
}

.oAuth-group {
	padding: 4rem 0 2rem 0;
}

.oAuth-group-icon {
	display: block;
	height: 3rem;
	margin-bottom: 1rem;
}

.Login-options-wrapper {
	display: block;
	@include md {
		display: flex;
		justify-content: space-between;
	}
}

.Login-option {
	width: 50%;
	p {
		margin-top: 2rem;
	}
}

.Login-azure {
	background: $blue-azure;
	border: none;
  color: $white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.7rem 2rem;
}

// Profile
.Profile {
	display: block;
	@include md {
		display: flex;
	}
	a {
	}
}

.Listbox {
	display: inline-block;
	margin: 1rem 1rem 1rem 0; 
	z-index: 1;
	padding: 1rem 2rem 1rem 2rem;
	text-align: left;
	width: 100%;
	position: relative;
	background-color: $grey-background;
	h2, h3 {
		margin: 0;
		display: inline-block;
	}

	h3 {
		padding-top: 1rem;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	hr {
		border: 0;
		border-top: 0.15px solid $black;
		margin: 1rem 0;
	}
	img {
		width: 4rem;
		position: absolute;
		right: 1rem;
	}
	@include sm {
		width: 50%;
	}

	@include md {
		width: 33%;
	}
}

.ListboxLarge {
	display: block;
	padding: 1rem 2rem 1rem 2rem;
	text-align: left;
	width: 100%;
	position: relative;
	background-color: $grey-background;
	margin: 1rem 1rem 1rem 0; 
	z-index: 1;
	img {
		width: 4.5rem;
		position: absolute;
		right: 1rem;
	}
	h2, h3 {
		margin: 0;
		display: inline-block;
	}
	h3 {
		padding-top: 1rem;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	hr {
		border: 0;
		border-top: 0.15px solid $black;
		margin: 1rem 0;
	}
}

.Case-container {
}

.Todo-box {
	// .fa {
	// 	margin-left: 2rem;
	// }
	// h3 {
 //    	padding-top: 2rem;
	// }
	// padding: 0;
	// text-align: left;
	// width: 100%;

	// position: relative;

	// @include sm {
	// 	width: 50%;
	// }

	// @include md {
	// 	width: 33%;
	// }

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		display: block;
	}
	span {
		position: relative;
		display: block;
		cursor: pointer;
	}
	span:before, span:after {
		content: '';
		position: absolute;
		width: 0%;
		height: 1px;
		top: 50%;
		margin-top: -0.5px;
		background: $black;
	}
	span:before {
		left: -2.5px;
	}
	span:after {
		right: 2.5px;
		background: $black;
		// transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
	}

	span:hover:before {
		background: $black;
		width: 100%;
		// transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
	}

	span:hover:after {
		background: transparent;
		width: 100%;
		// transition: 0s;
	}
}

// Portal Page
.Portal-box {
	a {
		color: $black;
	}
	a:hover {
		color: $grey-text;
	}	
	width: 100%;

  @include sm {
    width: 50%;
  }
  @include md {
    width: 33%;
  }
  position: relative;
}

.Portal-box-content {
	padding: 2rem;
	height: 215px;
	overflow: scroll;
}

.My-cases-box-lg {
	width: 100%;
	overflow: scroll;
}

.My-cases-box-md {
	width: 66%;
	overflow: scroll;
}

.Upcoming-box {
  p {
    display: inline;
  }
	a {
		color: $black;
	}
	a:hover {
		color: $grey-text;
	}	
	width: 100%;

  @include sm {
    width: 100%;
  }
  @include md {
    width: 66%;
  }
}

.Box-icon-sm {
	position: absolute;
	right: 4rem;
}

.Todo-box {
	background-color: $yellow-highlight;
	padding-bottom: 3.2rem;

}

// Profile Page
#page{
	touch-action: none;
}

.Profile-box {
	h3 {
		padding: 0;
		margin-bottom: 1.8rem;
	}
	.Profile-phone {
		margin-top: 0.8rem;
		margin-bottom: 1.4rem;
	}
}

.Add-edit-case {}

// .form-control {
// 	border: none;
// 	font-size: 18px;
// 	height: auto;
// }
.case-form-group {
	margin-top: 2rem;
	select {
		width: 33%;
	}
	.form-control {
		width: 33%;
		border: none;
		height: auto;
		font-size: 18px;
	}
}

.case-number {
	.caseNumber-form-control {
		width: 33%;
	}
}

.radio-row {
	display: flex;
	.form-control {
		width: 2rem;
		border: none;
		height: auto;
		font-size: 18px;
	}
}

.button-delete {
	background-color: $red;
}

.button-submit {
	margin-right: 2rem;
	background-color: $blue-button;
}

.Logout {
	position: absolute;
	top: 21rem;
	right: 2rem;

	a {
		position: relative;
		border: 2px solid $blue-button;
		font-weight: 600;
		color: $blue-button;
		padding: 1rem 2rem 1rem 2rem;
		margin-top: 4rem;

	}
	a:hover {
		background-color: $blue-button-pressed;
		color: $white;
		font-weight: 300;
	}

	@include xs {
		top: 22rem;
		right: 2rem;
	}

	@include sm {
		top: 18rem;
		right: 4rem;
	}

	@include md {
		top: 20rem;
		right: 12rem;
	}

	@include lg {
		top: 13rem;
		right: 8rem;
	}
}



