// Login Page
.Login,
.Register {
  input {
  	width: 100%;
    margin-bottom: 1.5rem;
    @include md {
    	width: 50%;
    }
  }
}

.form-group {
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }

.form-input {
	height: 3.3rem;
	margin-right: 2rem;
	padding-top: 0;
	width: 18rem;
}

.local-auth-button {
	margin-bottom: 1rem
}

.forgot-password {
	color: $black;
}

.oAuth-group {
	padding: 4rem 0 2rem 0;
}

.oAuth-group-icon {
	display: block;
	height: 3rem;
	margin-bottom: 1rem;
}

.Login-options-wrapper {
	display: block;
	@include md {
		display: flex;
		justify-content: space-between;
	}
}

.Login-option {
	width: 50%;
	p {
		margin-top: 2rem;
	}
}

.Login-azure {
	background: $blue-azure;
	border: none;
  color: $white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.7rem 2rem;
}

// Profile
.Profile {
	display: block;
	@include md {
		display: flex;
	}
	a {
	}
}

.Listbox {
	display: inline-block;
	margin: 1rem 1rem 1rem 0; 
	z-index: 1;
	padding: 1rem 2rem 1rem 2rem;
	text-align: left;
	width: 100%;
	position: relative;
	background-color: $grey-background;
	h2, h3 {
		margin: 0;
		display: inline-block;
	}

	h3 {
		padding-top: 1rem;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	hr {
		border: 0;
		border-top: 0.15px solid $black;
		margin: 1rem 0;
	}
	img {
		width: 4rem;
		position: absolute;
		right: 1rem;
	}
	@include sm {
		width: 50%;
	}

	@include md {
		width: 33%;
	}
}

.ListboxLarge {
	display: block;
	padding: 1rem 2rem 1rem 2rem;
	text-align: left;
	width: 100%;
	position: relative;
	background-color: $grey-background;
	margin: 1rem 1rem 1rem 0; 
	z-index: 1;
	img {
		width: 4.5rem;
		position: absolute;
		right: 1rem;
	}
	h2, h3 {
		margin: 0;
		display: inline-block;
	}
	h3 {
		padding-top: 1rem;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	hr {
		border: 0;
		border-top: 0.15px solid $black;
		margin: 1rem 0;
	}
}

.Case-container {
}

// .Todo-box {
// 	ul {
// 		list-style: none;
// 		margin: 0;
// 		padding: 0;
// 	}
// 	li {
// 		display: block;
// 	}
// 	span {
// 		position: relative;
// 		display: block;
// 		cursor: pointer;
// 	}
// 	span:before, span:after {
// 		content: '';
// 		position: absolute;
// 		width: 0%;
// 		height: 1px;
// 		top: 50%;
// 		margin-top: -0.5px;
// 		background: $black;
// 	}
// 	span:before {
// 		left: -2.5px;
// 	}
// 	span:after {
// 		right: 2.5px;
// 		background: $black;
// 	}

// 	span:hover:before {
// 		background: $black;
// 		width: 100%;
// 	}

// 	span:hover:after {
// 		background: transparent;
// 		width: 100%;
// 	}
// }

// Portal Page
.portal-grid {
	align-items: stretch;
}

.Square-box-container-portal {
  -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  width: 100%;

  @include sm {
    width: 50%;
  }
  @include md {
    width: 33%;
  }
  padding: 1rem;
}

.Portal-box {
		  -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
	a {
		color: $black;
	}
	a:hover {
		color: $dark-grey-primary;
	}	
	// width: 300px;

 //  @include lg {
 //  	// width: 50vw;
 //  }
}

.Portal-box-profile {
	width: 100%;

  @include md {
    width: 33%;
  }
  // @include md {
  //   width: 25%;
  // }
}

.Portal-box-cases {
	 width: 100%;

  @include md {
    width: 66%;
  }
  // @include md {
  //   width: 75%;
  // }
}

.Portal-box-content {
	padding: 2rem;
	h3 {
		position: relative;
	}
}

.Portal-box-content-line {
	position: static;
}

.Portal-box-link {
	p { margin: 0 }
	display: flex;
	position: relative;
}

.Portal-box-link-caseNumber {
	width: 150px;
}

.Portal-box-link-caseType {
	position: absolute;
	right: 0;
}

.Box-icon-sm {
	position: absolute;
	right: 0;
}

.Profile-box {

	position: relative;
	h3 {
		padding: 0;
		margin-bottom: 1.8rem;
	}
	.Profile-phone {
		margin-top: 0.8rem;
		margin-bottom: 1.4rem;
	}
}

// .Upcoming-box {
//   p {
//     display: inline;
//   }
// 	a {
// 		color: $black;
// 	}
// 	a:hover {
// 		color: $dark-grey-primary;
// 	}	
// 	width: 100%;
//   @include sm {
//     width: 100%;
//   }
//   @include md {
//     width: 66%;
//   }
// }

// .Todo-box {
// 	background-color: $yellow-background;
// 	padding-bottom: 3.2rem;

// }

// View/Edit Profile Page
#page{
	touch-action: none;
}

p.warning {
	padding: 1rem 1rem 1rem 1rem
}

.Add-edit-case {}

.case-form-group {
	margin-top: 2rem;
	select {
		width: 33%;
	}
	.form-control {
		width: 33%;
		border: none;
		height: auto;
		font-size: 18px;
	}
}

// .case-number {
// 	.caseNumber-form-control {
// 		width: 33%;
// 	}
// }

.case-number {
	input {
		width: 40%;
	}
}

.form-control-input-p {
	margin-left: 1rem;
}

.radio-row {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	.form-control {
		width: 2rem;
		border: none;
		height: auto;
		font-size: 18px;
	}
}

.case-page-buttons {
	display: -webkit-box;
  	display: -ms-flexbox;
    display: flex;
	-ms-flex-wrap: wrap;
      flex-wrap: wrap;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

///
.button-submit {
	padding: 1rem 0;
	width: 140px;
	margin-right: 6rem;
	margin-bottom: 2rem;
	border: 3px solid $success;
	background-color: $success;
}

.button-submit:disabled {
	background-color: $btn-success-disabled;
	border: 3px solid $btn-success-disabled;
	color: $dark-grey-primary;
}

.button-submit:hover {
	border: 3px solid $black;
}
///
.danger-buttons {
	margin-bottom: 1rem;
}
///
.button-clear {
	padding: 1rem 0;
	width: 140px;
	margin-right: 1rem;
	margin-bottom: 1rem;
	color: $btn-default-active;
	background-color: $white;
	border: 3px solid $btn-default-active;
}

.button-clear:disabled {
	background-color: $btn-default-disabled;
	color: $dark-grey-primary;
	border: 3px solid $btn-default-disabled;
}

.button-clear:hover {
	color: $white;
	background-color: $btn-default-active;
}
///
.button-delete {
	padding: 1rem 0;
	width: 140px;
	margin-bottom: 1rem;
	background-color: $white;
	color: $danger;
	border: 3px solid $danger;
}
///
.button-delete:disabled {
	background-color: $btn-danger-disabled;
	color: $light-grey-secondary;
}

.button-delete:hover {
	color: $white;
	background-color: $danger;
}
/////

.Logout {
	position: absolute;
	top: 12rem;
	right: 2rem;
		
	a {
		background-color: $danger;
		color: $white;
		padding: 1rem 2rem 1rem 2rem;
		margin-top: 4rem;

	}
	a:active {
		background-color: $btn-danger-active;
	}

	a:hover {
		background-color: $black;
		color: $light-grey-secondary;
		font-weight: 300;
	}

	@include xs {
		top: 12rem;
		right: 2rem;
	}

	@include sm {
		top: 13rem;
		right: 6rem;
	}

	@include md {
		top: 12rem;
		right: 7rem;
	}

	@include lg {
		top: 10rem;
		right: 13rem;
	}
}



