// title line
h1 {
	text-align: center;
}

h1.title-line-background {
  position: relative;
  overflow: hidden;
  
  span {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    padding: 0 20px;

    &:before, &:after {
      content: '';
      display: block;
      width: 1000px;
      position: absolute;
      top: 0.73em;
      border-top: 6px solid $dark-grey-primary;
    }

    &:before { right: 100%; }
    &:after { left: 100%; }
  }
}

// url breadcrumbs
.breadcrumbs {
}

.breadcrumbs-chevron {
  padding: 0 1rem; 
}

// Stage selection + content rendering
.Stage-top-bar {
  position: relative;
  // z-index: 2000;
  display: block;
  @include sm {
    display: flex;
    justify-content: space-between; 
  }
}

.Stage-menu {
  //z-index: 1000;

  // a:hover {
  //   color: $blue-accent-primary;
  // }
  // display: flex;
  // justify-content: space-around;
  // margin-bottom: 2.25rem;
  // align-items: stretch;
}

.Stage-menu-item {
  display: inline;
  padding: 0 1rem;
  a {
    color: $blue-accent-primary;
    // font-family: $font-family-serif;
  }
  a:hover {
    color: $black;
  }
}

.warning {
  background-color: $warning;
  padding: 1rem 1rem 0.01rem 1rem;
  width: 97%;
  border-radius: 5px;
  font-weight: 700;
}

//fade in transition for stage change
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}