//FONT
$bot-font: 'Roboto', sans-serif;

//CHATBOT BLUES
$bot-blue: #7fcde5;
$very-light-blue: #e3f8ff;
$light-grey: #f0f0f0;

//HEADER
$icon-grey: #545757;

//CHATBAR
$warm-grey: #bcbcbc;

//COLOR
$not-black: #363636;