$font-family-serif: "Judson", serif;
$font-family-sans-serif: "Source Sans Pro", sans-serif;

$grey-border: #eee;
$grey-text: #aaa;
$black: #000;
$white: #fff;
$blue-button: #316a92;
$blue-button-pressed: #115077;
$blue-accent: #5392be;
$yellow-highlight: #f9d04e;
$grey-background: #f5f5f5;

.hideText {
	display: none;
}