//styling table for agents of service / associations
table {
  width: 95%;
  border-spacing: 10px;
  border: 1px solid grey;
  -moz-border-radius: 10x;
  -webkit-border-radius: 10px;
  cursor: pointer;
}
table:hover {
  width: 95%;
  border-spacing: 10px;
  border: 1px solid grey;
  -moz-border-radius: 10x;
  -webkit-border-radius: 10px;
  opacity: 70%;
}
table,
th,
td {
  /*border: 1px solid black;*/
  /* border-collapse: collapse; */
}
th,
td {
  padding: 0px;
  text-align: left;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
  background-color: #fff;
}
table th {
  background-color: black;
  color: white;
}
