//styling user speech bubble, bot speech bubble, and clickable bot buttons

.bot-buttons {
  width: 11em;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px 10px;
  @include flex-center;
  @include xxs {
    width: 9em;
    margin: 8px 0px;
  }
  height: 0px; /*overwrites .button-blue height, necessary to show correctly in moz*/
}

.user-bubble-alignment-m {
  /*max-width: 23em;*/
  min-width: 5em;
  padding: 20px 25px 20px 29px;
  margin-left: auto; /*right adjusts bubble*/
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 12px;
}

.bubble-breaker-m {
  width: 93vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0em 1em 1em;
  @include xxs {
    width: 88vw;
  }
}
