//styling chatbar

.chatbar-m {
  height: 4.2em;
  width: 100vw;
  padding: .3em .7em .3em .3em;
  border-top: 1px solid #939393;
  background-color: #ffc107;
  color: $not-black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  @include xxs {
    width: 100vw;
  }
}

.chatbar-m input[type=text] {
  width: 18em;
  height: 2.6em;
  font-size: 1em;
  margin: 0px;
  background: transparent;
  border: none;
  font-family: $bot-font;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  margin-right: 6px;
  padding-left: 1em;
  border-radius: 0;
  background-color: #ffffff;
  @include xxs {
    width: 14.5em;
    height: 2.6em;
    position: relative;
    padding-left: 1em;
  }
}

button.circle-m {
  background-color: #115077;
  color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  outline: none;
  padding: .5em;
  padding-top: .6em;
  @include xxs {
    @include flex-center;
    width: 35px;
    height: 35px;
    padding: 0;
    padding-top: 0;
  }
}

button.mic-m {
  background-color: transparent;
  color: $icon-grey;
  outline: 0;
  padding: 0;
  padding-top: 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  transition: 0.1s;
  @include xxs {
    padding-top: 6px;
    font-size: 29px;
    margin-top: 7px;
  }
}

.chat-input {
  outline: none !important;
}
