//styling chat container and chatbox

.chat-box-bg {
  background-color: $light-grey;
  color: $not-black;
}

.chat-container-bg-m {
  //increased width from standard 25em to 26em to hide scroll. cross-browser friendly.
  width: 100vw;
  height: 100vh;
  bottom: 75px;
  padding-top: 73px;
  vertical-align: bottom;
  border-left: 1px solid #000000;
  //adding the overflows fixes header and chatbar in fixed position
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $not-white;
  @include xxs {
    height: 100vh;
    width: 22em;
  }
}

.chatbox-alignment-m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  font-size: 1em;
  line-height: 1.375em;
  padding: 18px;
  // width: 25em;
  width: 100vw;
  height: auto;
  margin-bottom: 75px;
  @include xxs {
    width: 22em;
    padding-left: 1.5em;
  }
}

.clear-m {
  display: none;
}
