//styling header

/*speech bubble in main header opens bot */
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-18 {
  font-size: 18px;
  margin-left: 4px;
}

// .open-bot-icon {
//   position: fixed;
//   cursor: pointer;
//   color: $bot-blue;
//   //***
//   position: relative;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: end;
//   -ms-flex-pack: end;
//   justify-content: flex-end;
//   @include xxs {
//     left: 311px;
//   }
// }

/* bot header */
.header-m {
  width: 100vw;
  height: 4.2em;
  background-color: #ffc107;
  box-shadow: 0px 2px 2px rgba(179, 179, 179, 0.7);
  top: 0px;
  position: fixed;
  @include flex-center(none, center);
  @include xxs {
    width: 100vw;
  }
}

/* contains icons in bot header */
.icon-container-m {
  width: 80vw;
  height: 3em;
  margin-left: .6em;
  padding: .5em;
  @include flex-center(space-between, center);
  @include xxs {
    width: 75vw;
  }
}

/* close button */
button.close-bot-m {
  position: relative;
  background: transparent;
  outline: 0;
  padding: 0;
  border: none;
  color: $icon-grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* refresh button */
button.refresh-bot {
  background: transparent;
  outline: 0;
  padding: 0;
  border: none;
  color: $icon-grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button.refresh-bot:hover,
button.close-bot:hover {
  color: $warm-grey;
  outline: 0;
  padding: 0;
  border: none;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition: 0.2s;
}

button.refresh-bot:active {
  color: $very-light-blue;
  outline: 0;
  padding: 0;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  transition: 0s;
  transition: 0s;
}

/* this is actually the settings icon (bm-cross-button is default name from package) */
/* Position and sizing of clickable settings button. ok doesn't have "-m" at end of element name, will work for mobile view */
.bm-cross-button {
  position: absolute;
  width: 44px !important;
  height: 44px !important;
  right: 111px !important;
  top: 5px !important;
  // background: purple;
  @include xxs {
    width: 35px !important;
    height: 35px !important;
    top: .85em !important;
  }
}

//********************************** MEDIA QUERIES **********************************//
@media (max-width: 2000px) and (min-width: 1025px) {
  .open-bot-icon {
    position: fixed;
    left: 55em;
    top: 2.9em;
  }
}
