//styling header

/*speech bubble in main header opens bot */
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-18 {
  font-size: 18px;
  margin-left: 4px;
}

/* bot header */
.header-m {
  width: 100vw;
  height: 4.2em;
  background-color: $white;
  box-shadow: 0px 2px 2px rgba(179, 179, 179, 0.7);
  top: 0px;
  position: fixed;
  @include flex-center(none, center);
  @include xxs {
    width: 100vw;
  }
}

/* contains icons in bot header */
.icon-container-m {
  width: 78vw;
  height: 3em;
  margin-left: .6em;
  padding: .5em;
  @include flex-center(space-between, center);
  @include xxs {
    width: 75vw;
  }
}

/* close button */
button.back-arrow-m {
  position: relative;
  background: transparent;
  outline: 0;
  padding: 0;
  border: none;
  color: $dark-grey-primary;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* refresh button */
button.refresh-bot-m {
  background: transparent;
  outline: 0;
  padding: 0;
  border: none;
  color: $dark-grey-primary;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button.refresh-bot-m:hover,
button.back-arrow-m:hover {
  color: $dark-grey-primary;
  outline: 0;
  padding: 0;
  border: none;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition: 0.2s;
}

button.refresh-bot-m:active {
  color: $dark-grey-primary;
  outline: 0;
  padding: 0;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  transition: 0s;
  transition: 0s;
}
/* this is actually the settings icon (bm-cross-button is default name from package) */
/* Position and sizing of clickable settings button. ok doesn't have "-m" at end of element name, will work for mobile view */

// .bm-cross-button {
//   position: absolute;
//   width: 37px !important;
//   height: 37px !important;
//   right: 7.6em !important;
//   top: .8em !important;
//   @include xxs {
//     width: 35px !important;
//     height: 35px !important;
//     top: .85em !important;
//   }
//   @include lg {
//     width: 42px !important;
//     height: 42px !important;
//     right: 6.3em !important;
//     top: .9em !important;
//   }
// }

// .bm-cross-button:hover {
//   fill: $icon-grey;
// }

//********************************** MEDIA QUERIES **********************************//
// @media (max-width: 2000px) and (min-width: 1025px) {
//   .open-bot-icon {
//     position: fixed;
//     left: 55em;
//     top: 2.9em;
//   }
// }
