//styling basics of bot and api.ai
.the-bot { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // z-index: 1003;
  font-family: $bot-font;
  -webkit-font-smoothing: antialiased;
}

.bot-z-index {
  z-index: 1003;
}
// .bot-is-open {
//   z-index: 1003;
// }
// .bot-is-closed {
//   z-index: -1003;
// }

.position-bot {
  /*keeps bot fixed, and scrolls bot as more questions are asked/answered*/
  position: fixed;
  max-height: 100vh;
  right: 0px;
  top: 0px;
  /*overflow-y: scroll;
  overflow-x: hidden;*/
  /*padding and margin allow bot to be fully visibile while settings nav is open*/
  padding-left: 7em;
  margin-left: -7em;
}

/*********************************** below elements work with api.ai responses. make sure doesnt effect rest of app ***********************************/
.stress {
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}
