//styling chatbar

.chatbar {
  height: 4.2em;
  width: 25em;
  padding: 16px;
  padding-left: 8px;
  padding-right: 10px;
  border-top: 1px solid #939393;
  background-color: #ffc107;
  color: $not-black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  // right: 100px;
  // border-left: 1px solid $not-black;
  @include xxs {
    width: 22em;
  }
}

// .chatbar input[type=text] {
//   height: auto;
//   width: 17em;
//   font-size: 1em;
//   margin: 0px;
//   background: transparent;
//   border: none;
//   font-family: $bot-font;
//   -webkit-font-smoothing: antialiased;
//   font-weight: lighter;
//   margin-left: 15px;
//   @include xxs {
//     width: 14em;
//   }
// }

.chatbar input[type=text] {
  width: 17em;
  height: 2.3em;
  font-size: 1em;
  margin: 0px;
  background: transparent;
  border: none;
  font-family: $bot-font;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  margin-right: 6px;
  padding-left: 1em;
  border-radius: 0;
  background-color: #ffffff;
}

button.circle-x {
  background-color: #115077;
  color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0px;
  @include xxs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
  }
}

button.circle-x:hover {
  background-color: #316a92;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  padding: 0px;
}

button.mic {
  background-color: transparent;
  color: $icon-grey;
  outline: 0;
  padding: 0;
  padding-top: 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  transition: 0.1s;
}

button.mic:hover {
  color: $light-grey;
  outline: 0;
  padding: 0;
  padding-top: 10px;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition: 0.2s;
}

button.mic:active {
  color: red;
  outline: 0;
  padding: 0;
  padding-top: 10px;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  transition: 0s;
}

.chat-input {
  outline: none !important;
}
