//styling chat container and chatbox

.chat-box-bg {
  background-color: $grey-background; //$not-white
  height: 100vh;
  color: $not-black;
}

.chat-container-bg {
  //increased width from standard 25em to 26em to hide scroll. cross-browser friendly.
  width: 26em;
  height: 100vh;
  bottom: 75px;
  padding-top: 73px;
  vertical-align: bottom;
  border-left: 1px solid $grey-drop-shadow;
  //adding the overflows fixes header and chatbar in fixed position
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white; //$not-white
}

.chatbox-alignment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  font-size: 1em;
  line-height: 1.375em;
  padding: 18px;
  width: 25em;
  height: auto;
  margin-bottom: 75px;
  padding-bottom: 100%;
  @include xxs {
    width: 22em;
    padding-left: 1.5em;
  }
}

.clear {
  float: left;
  clear: both;
  margin: 0px 10px;
}
