//styling header

/*speech bubble in main header opens bot */
.material-icons {
  line-height: 2;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-18 {
  font-size: 18px;
  margin-left: 4px;
}

.open-bot-icon-circle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100px;
  height: 54px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  
  background-color: $blue-accent-primary;
  cursor: pointer;
  // text-align: center;  

  position: fixed;
  z-index: 1010;

  @include xxs {
    right: 2rem;
    bottom: 2rem;
  } 
  @include mobile {
    display: none;
  }
}

.open-bot-icon-circle:hover {
  background-color: $black;
  .open-bot-icon {
    color: $light-grey-secondary;
  }
}

.open-bot-icon-text {
  color: white;
  @include sm {
    font-size: 1.8rem;
  }
  // margin: 8px 0 0 8px;
}

.open-bot-icon, .open-bot-icon-m {
  // margin-top: 5px;
  color: #ffffff;

  //***
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;
  // -webkit-box-pack: end;
  // -ms-flex-pack: end;
  // justify-content: flex-end;
 
}

.open-bot-icon-m {
  i {
    margin-top: -0.7rem;
  }
}

/* icon displays for mobile views <600 and links to mbot route */
.open-bot-icon-m-circle { 
  text-align: center;
  // padding-top: 6px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  text-align: center;  
  position: fixed;
  cursor: pointer;
  background-color: $blue-accent-primary;
  right: 2rem;
  top: 1rem;
  @include sm {

  }
  
  // display: flex;
  // -webkit-box-pack: end;
  // -ms-flex-pack: end;
  // justify-content: flex-end;

  // @include xxs {
  //   right: 20px;
  //   top: 20px;
  // }
}

/* bot header */
.header-x {
  width: 25em;
  height: 3em;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px rgba(179, 179, 179, 0.7);
  top: 0px;
  position: fixed;
  @include flex-center(none, center);
}

/* contains icons in bot header */
.icon-container {
  width: 20em;
  height: 3em;
  @include flex-center(space-between, center);
  padding: .5em;
  display: flex;
}

/* close button */
button.close-bot {
  position: relative;
  background: transparent;
  outline: 0;
  padding: 0;
  border: none;
  color: $dark-grey-primary;
  font-size: 36px;
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;
  // bottom: .4em;
}

/* refresh button */
button.refresh-bot {
  background: transparent;
  outline: 0;
  padding: 0;
  border: none;
  color: $dark-grey-primary;
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;
}

button.button-chatbot-email {
  background-color: $dark-grey-primary;
}

button.refresh-bot:hover,
button.close-bot:hover {
  color: $blue-accent-primary;
  outline: 0;
  padding: 0;
  border: none;
  // -webkit-transition-duration: 0.2s;
  // -o-transition-duration: 0.2s;
  // transition-duration: 0.2s;
  // transition: 0.2s;
}

button.button-chatbot-email:hover {
  background-color: $blue-accent-primary;
}

button.refresh-bot:active {
  color: $dark-grey-primary;
  outline: 0;
  padding: 0;
  // -webkit-transition-duration: 0s;
  // -o-transition-duration: 0s;
  // transition-duration: 0s;
  // transition: 0s;
  // transition: 0s;
}


/* this is actually the settings icon (bm-cross-button is default name from package) */
/* Position and sizing of clickable settings button */
.bm-cross-button {
  // fill: $icon-grey;
  color: $dark-grey-primary;
  outline: 0;
  padding: 0;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition: 0.2s;
}

.bm-cross-button:hover {
  // color: $warm-grey;
  // fill: $not-white;
}

.bm-cross-button {
  position: absolute;
  width: 44px !important;
  height: 44px !important;
  right: 111px !important;
  top: 5px !important;
  background: transparent;
  @include lg {
    width: 42px !important;
    height: 42px !important;
    right: 6.3em !important;
    top: .9em !important;
  }
}

//********************************** MEDIA QUERIES **********************************//
@media (max-width: 2000px) and (min-width: 600px) {
  .open-bot-icon-circle {
    position: fixed;
    right: 1.75rem;
    top: 3.5rem;
  }
}

// @media (max-width: 2000px) and (min-width: 1025px) {
//   .open-bot-icon-circle {
//     position: fixed;
//     right: 4rem;
//     // top: 2.9em;
//     top: 18rem;
//   }
// }

//hides mobile chat icon until <600
@media (min-width: 600px) and (max-width: 2000px) {
  .open-bot-icon-m-circle {
    display: none;
  }
}
