//styling header

/*speech bubble in main header opens bot */
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-18 {
  font-size: 18px;
  margin-left: 4px;
}

.open-bot-icon {
  position: fixed;
  cursor: pointer;
  color: $bot-blue;
  //***
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  @include xxs {
    left: 311px;
  }
  @include mobile {
    display: none;
  }
}

/* icon displays for mobile views <600 and links to mbot route */
.open-bot-icon-m {
  position: fixed;
  cursor: pointer;
  color: red;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  @include xxs {
    left: 311px;
  }
}

/* bot header */
.header-x {
  width: 25em;
  height: 3em;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px rgba(179, 179, 179, 0.7);
  top: 0px;
  position: fixed;
  @include flex-center(none, center);
}

/* contains icons in bot header */
.icon-container {
  width: 20em;
  height: 3em;
  @include flex-center(space-between, center);
  padding: .5em;
}

/* close button */
button.close-bot {
  position: relative;
  background: transparent;
  outline: 0;
  padding: 0;
  border: none;
  color: $icon-grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: .4em;
}

/* refresh button */
button.refresh-bot {
  background: transparent;
  outline: 0;
  padding: 0;
  border: none;
  color: $icon-grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button.refresh-bot:hover,
button.close-bot:hover {
  color: $not-white;
  outline: 0;
  padding: 0;
  border: none;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition: 0.2s;
}

button.refresh-bot:active {
  color: $very-light-blue;
  outline: 0;
  padding: 0;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  transition: 0s;
  transition: 0s;
}

/* this is actually the settings icon (bm-cross-button is default name from package) */
/* Position and sizing of clickable settings button */
.bm-cross-button {
  fill: $icon-grey;
  outline: 0;
  padding: 0;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition: 0.2s;
}

.bm-cross-button:hover {
  fill: $not-white;
}

.bm-cross-button {
  position: absolute;
  width: 44px !important;
  height: 44px !important;
  right: 111px !important;
  top: 5px !important;
  background: transparent;
  @include lg {
    width: 42px !important;
    height: 42px !important;
    right: 6.3em !important;
    top: .9em !important;
  }
}

//********************************** MEDIA QUERIES **********************************//
@media (max-width: 2000px) and (min-width: 1025px) {
  .open-bot-icon {
    position: fixed;
    left: 55em;
    top: 2.9em;
  }
}
//hides mobile chat icon until <600
@media (min-width: 600px) and (max-width: 2000px) {
  .open-bot-icon-m {
    display: none;
  }
}
