//styling modal when click on language selector in settings nav

.lang-modal {
  display: none;
  position: fixed;
  z-index: 2;
  right: 0px;
  top: 73px;
  width: 25em;
  height: 100%;
  overflow: hidden;
  background-color: rgba(50, 64, 70, 0.9);
  font-family: $bot-font;
  cursor: default;
}

.close-lang-modal {
  position: absolute;
  top: 2rem;
  left: 2rem;
  .material-icons {
    font-size: 2rem;
    color: $white;
  }
}

.lang-title {
  color: $light-grey-primary;
  font-size: 2.6em;
  text-align: center;
  position: relative;
  top: 105px;
}

.lang-container {
  width: 200px;
  position: relative;
  top: 175px;
  left: 125px;
  font-size: 1.6em;
  color: rgba(241, 241, 241, .5);
}

/*below code limits clickable area to be as wide as radio button + text*/
.language-icon-form  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.language-icon-label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.language-icon-label:hover {
  color: rgba(255, 255, 255, 1);
  font-size: 1.1em;
  transition: all .2s ease-in-out;
}

.radio-style {
  margin-right: 25px; /*positions radio*/
  margin-top: 4px;
}

.radio-T {
  margin: 25px 0; /*space between language options*/
}
