//styling settings/push out nav
/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
}

/* Color/shape of settings button cross */
.bm-cross {
  background: transparent;
}

/* General sidebar styles */
.bm-menu {
  background: $dark-grey-primary;
  padding-top: 73px;
  //padding-left: 22px;
  padding-right: 0px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.icon-size-O {
  height: 44px;
  width: 44px;
  margin-top: 25px;
  margin-bottom: 25px;
  //margin-left: 28px;
  margin-left: 16px;
  cursor: pointer;
}

#outer-container {
  overflow-y: visible !important;
}
 