/*monochromatic colors intended to help people with the most common
type color blindness, Deuteranomaly (5 % of men, 0.4 % of women)*/

//bot background
.mono-grey-bg {
  background-color: $not-white;
}

//bot bubble
.mono-bot-bubble {
  background: #000000;
  color: #ffffff;
}

//buttons
.botButtons {
  background: #717171;
  color: #ffffff;
}

.botButtons:hover {
  background-color: #cdcdcd;
  color: $not-black;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  height: 0px;
}

.botButtons:active {
  background-color: $very-light-blue;
  color: $not-black;
  height: 0px;
}
//user bubble
.mono-user-bubble {
  background: #ffffff;
  border: 3px solid #000000;
  color: $not-black;
}
