/*monochromatic colors intended to help people with the most common
type color blindness, Deuteranomaly (5 % of men, 0.4 % of women)*/

//bot background
.mono-grey-bg {
  background-color: $light-grey-primary;
}

//bot bubble
.mono-bot-bubble {
  background: $black;
  color: $white;
}

//buttons
.botButtons {
  background: $black;
  color: $white;
}

.botButtons:hover {
  background-color: #cdcdcd;
  color: $dark-grey-primary;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  height: 0px;
}

.botButtons:active {
  background-color: $light-grey-primary;
  color: $dark-grey-primary;
  height: 0px;
}
//user bubble
.mono-user-bubble {
  background: #ffffff;
  border: 3px solid #000000;
  color: $dark-grey-primary;
}
