//FONT
$bot-font: 'Roboto', sans-serif;

//CHATBOT BLUES
// $bot-blue: #7fcde5;
$bot-blue: #94ebff; //updated 2/21/18
$very-light-blue: #e3f8ff;
$light-grey: #f0f0f0;
$bot-blue-icon: #4AA7DB;
$bot-link: #0000ff;
$bot-blue-icon-pressed: #5392be;

//HEADER
// $icon-grey: #545757;
$icon-grey: #404040;

//CHATBAR
$warm-grey: #bcbcbc;

//COLOR
$not-black: #363636;

//CHAT CONTAINER BG
$not-white: #f8f8f8;
 